<%- model_class = Pitcher -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<a href="/pitchers/update_stats"><button class="btn">Update Stats</button></a>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pitchers.each do |pitcher| %>
      <tr>
        <td><%= link_to pitcher.id, pitcher_path(pitcher) %></td>
        <td><%= pitcher.name %></td>
        <td><%= pitcher.url %></td>
        <td><%=l pitcher.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pitcher_path(pitcher), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pitcher_path(pitcher),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @pitchers %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pitcher_path,
            :class => 'btn btn-primary' %>
