<table class="table table-striped">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Type</th>
      <th>Teams</th>
      <th>Odds</th>
<!--       <th>Spreads</th> -->
      <th>Total</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <%j = 0%>
    <% events.each do |event| %>
        <%i = 0%>
        <tr>
        <%(event.participants.count/2).times do%>
        <% if event.participants[(i*2)].participant_name != "Away Runs" %>
          <td>
            <%= (event.event_datetime - 1.hours).strftime("%d, %b @ %I:%M%p") %>
          </td>
          <%if event.league.present?%>
            <td><%= event.league %></td>
          <%else%>
            <td></td>
          <%end%>
          <%if event.participants[(i*2)].present? && event.participants[(i*2)+1].present?%>
            <td>
              <%= event.participants[(i*2)].participant_name %><br/>
              <%= event.participants[(i*2)+1].participant_name %>
            </td>
          <%else%>
            <td></td>
          <%end%>
          <%if event.periods[0].present?%>
            <td>
              <%= event.periods[0].moneyline_visiting.to_i > 0 ? "+#{event.periods[0].moneyline_visiting}" : event.periods[0].moneyline_visiting %><br/>
              <%= event.periods[0].moneyline_home.to_i > 0 ? "+#{event.periods[0].moneyline_home}" : event.periods[0].moneyline_home %><br/>
            </td>
          <%else%>
            <td></td>
          <%end%>
          <%if event.periods[0].present?%>
            <td><span class="total">Over </span><%=event.periods[0].tootal_point.to_s %> <br/> <span class="total">Under </span><%= event.periods[0].tootal_point.to_s %></td>
          <%else%>
            <td></td>
          <%end%>
          <td id="count">
            <div id="time_<%="#{j}"%>" data-date="<%= "#{(event.event_datetime)}" %>" style="width: 150px;">
            </div>
          </td>
          <% date = (event.event_datetime - 1.hours).strftime("%Y-%d-%m") %>
          <td><a href="/mlb/mlb-picks/<%= "#{event.participants[(i*2)].participant_name.split(' ').last}"+"-vs-"+"#{event.participants[(i*2)+1].participant_name.split(' ').last}"+"-predictions-"+"#{date}" %>" class="perdiction">Predictions</a></td>
            <% i = i+1 %>
            <% j = j+1 %>
          </tr>
          <%end%>
        <%end%>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
var i = 0;
$("td").each(function() {
    var id = $(this).attr('id');
    if (id == "count")
      i++;
    // compare id to what you want
});

for (var j=0; j<i; j++){
  $("#time_"+j).TimeCircles({
    "animation": "smooth",
    "time": {
        "Days": {
            "text": "Days",
            "color": "#FFCC66",
            "show": false
        },
        "Hours": {
            "text": "Hours",
            "color": "#F33F06",
            "show": true
        },
        "Minutes": {
            "text": "Minutes",
            "color": "#ff9a42",
            "show": true
        },
        "Seconds": {
            "text": "Seconds",
            "color": "#fffc99",
            "show": true
        }
    }
  });
}
$(document).ready(function(){
  $(".textDiv_Hours h4").html("Hr");
  $(".textDiv_Minutes h4").html("Min");
  $(".textDiv_Seconds h4").html("Sec");
});
</script>