<table class="table table-striped">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Teams</th>
      <th>Odds</th>
<!--       <th>Spreads</th> -->
      <th>Total</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <%j = 0%>
    <% @all_games.each do |game| %>
      <% team_h = EspnTeam.find(game.team_h).name %>
      <% team_a = EspnTeam.find(game.team_a).name %>
        <%i = 0%>
        <tr>
          <td>
            <%= (game.time.to_time - 1.hours).strftime("%d, %b @ %I:%M%p ET") %>
          </td>
          <td><%= team_h %><br/>
              <%= team_a %></td>
          <td>
              <% @events.each do |event| %>
                <% if event.participants.present? %>
                  <%if(event.participants.first.participant_name.include? team_a) && (event.participants.last.participant_name.include? team_h) %>
                    <% @event = event %>
                    <% if @event.periods.present? %> 
                    <span class="total">Over </span><%=@event.periods[0].moneyline_visiting.to_s %> <br/> <span class="total">Under </span><%= @event.periods[0].moneyline_home.to_s %>
                    <%break%>
                  <% end %>
                  <% end %>  
                <% end %>
               <% end %>
          </td>
          <%if @event.periods[0].present?%>
            <td><span class="total">Over </span><%=@event.periods[0].tootal_point.to_s %> <br/> <span class="total">Under </span><%=@event.periods[0].tootal_point.to_s %></td>
          <%else%>
            <td></td>
          <%end%>
          <td id="count">
            <div id="time_<%="#{j}"%>" data-date="<%= "#{ DateTime.parse("#{game.date} #{game.time}")}" %>" style="width: 150px;">
            </div>
          </td>
          <% date = (game.date - 1.hours).strftime("%Y-%d-%m") %>
          <td><% date = (game.date).strftime("%Y-%d-%m") %>
              <td><a href="/mlb/mlb-picks/<%= "#{team_h}"+"-vs-"+"#{team_a}"+"-predictions-"+"#{date}" %>" class="perdiction">Predictions</a></td>
            <% i = i+1 %>
            <% j = j+1 %>
          </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
var i = 0;
$("td").each(function() {
    var id = $(this).attr('id');
    if (id == "count")
      i++;
    // compare id to what you want
});

for (var j=0; j<i; j++){
  $("#time_"+j).TimeCircles({
    "animation": "smooth",
    "time": {
        "Days": {
            "text": "Days",
            "color": "#FFCC66",
            "show": false
        },
        "Hours": {
            "text": "Hours",
            "color": "#F33F06",
            "show": true
        },
        "Minutes": {
            "text": "Minutes",
            "color": "#ff9a42",
            "show": true
        },
        "Seconds": {
            "text": "Seconds",
            "color": "#fffc99",
            "show": true
        }
    }
  });
}
$(document).ready(function(){
  $(".textDiv_Hours h4").html("Hr");
  $(".textDiv_Minutes h4").html("Min");
  $(".textDiv_Seconds h4").html("Sec");
});
</script>