<h1>Events</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sport Type</th>
      <th>Team A</th>
      <th>Odds</th>
      <th>Team B</th>
      <th>Odds</th>
      <th>Total Point</th>
      <th>Start Time</th>
      <th>Countdown</th>
    </tr>
  </thead>

  <tbody>
    <%j = 0%>
    <% @events.each do |event| %>
        <%i = 0%>
        <tr>
        <%(event.participants.count/2).times do%>
        <% if event.participants[(i*2)].participant_name != "Away Runs" %>
          <%if event.league.present?%>
            <td><%= event.league %></td>
          <%else%>
            <td></td>
          <%end%>
          <%if event.participants[(i*2)].present?%>
            <td><%= event.participants[(i*2)].participant_name %></td>
          <%else%>
            <td></td>
          <%end%>
          <%if event.periods[0].present? %>
            <td><%= event.periods[0].moneyline_visiting %></td>
          <%else%>
            <td>0</td>
          <%end%>
          <%if event.participants[(i*2)+1].present?%>
            <td><%= event.participants[(i*2)+1].participant_name %></td>
          <%else%>
            <td></td>
          <%end%>
          <%if event.periods[0].present?%>
            <td><%= event.periods[0].moneyline_home %></td>
          <%else%>
            <td>0</td>
          <%end%>
          <%if event.periods[0].present?%>
            <td><span>Over</span><%=event.periods[0].tootal_point.to_s %> <br/><span>Under</span><%= event.periods[0].tootal_point.to_s %></td>
          <%else%>
            <td>0</td>
          <%end%>
          <td>
            <%= event.event_datetime.in_time_zone(Time.zone.name).strftime("%d, %b @ %I:%M%p") %>
          </td>
          <td id="count">
          <div id="time_<%="#{j}"%>" data-date="<%= "#{event.event_datetime.in_time_zone(Time.zone.name)}" %>" style="width: 400px; height: 90px; padding: 0px; box-sizing: border-box;">
          </div>
            </td>
            <% i = i+1 %>
            <% j = j+1 %>
          </tr>
          <%end%>
        <%end%>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Event', new_event_path %>
<style>
  th {
    text-align: center!important;
  }
  td {
    text-align: center!important;
  }
  #count
  {
    width: 200px !important;
    text-align: right !important;
  }
</style>
<script type="text/javascript">
var i = 0;
$("td").each(function() {
    var id = $(this).attr('id');
    if (id == "count")
      i++;
    // compare id to what you want
});

for (var j=0; j<i; j++){
  $("#time_"+j).TimeCircles({"time": {
        "Days": {
            "text": "Days",
            "color": "#FFCC66",
            "show": false
        },
        "Hours": {
            "text": "Hours",
            "color": "#99CCFF",
            "show": true
        },
        "Minutes": {
            "text": "Minutes",
            "color": "#BBFFBB",
            "show": true
        },
        "Seconds": {
            "text": "Seconds",
            "color": "#FF9999",
            "show": true
        }
      }
    }
);
}
</script>