<h1>NBA Events</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Team A</th>
      <th>Team B</th>
      <th>Start Time</th>
      <th>Moneyline Visiting</th>
      <th>Spread Visiting</th>
      <th>Moneyline Home</th>
      <th>Spread Home</th>
      <th>Total Points</th>
    </tr>
  </thead>

  <tbody>
    <% j =0%>
    <% @events.each do |event| %>
        <%i = 0%>
        <tr>
        <%(event.participants.count/2).times do%>
        <% if event.participants[(i*2)].participant_name != "2nd Half Wagering" %>
          <%if event.participants[(i*2)].present?%>
            <td><%= event.participants[(i*2)].participant_name %></td>
          <%else%>
            <td></td>
          <%end%>
          <%if event.participants[(i*2)+1].present?%>
            <td><%= event.participants[(i*2)+1].participant_name %></td>
          <%else%>
            <td></td>
          <%end%>
          <td><%= event.event_datetime.in_time_zone("Azores").in_time_zone(Time.zone.name).strftime("%d, %b @ %I:%M%p") %></td>
          <%if event.periods[0].present? %>
            <td><%= event.periods[0].moneyline_visiting %></td>
          <%else%>
            <td>0</td>
          <%end%>
          <%if event.periods[0].present? %>
            <td><%= event.periods[0].spread_visiting %></td>
          <%else%>
            <td>0</td>
          <%end%>
          <%if event.periods[0].present? %>
            <td><%= event.periods[0].moneyline_home %></td>
          <%else%>
            <td>0</td>
          <%end%>
          <%if event.periods[0].present? %>
            <td><%= event.periods[0].spread_home %></td>
          <%else%>
            <td>0</td>
          <%end%>
          <%if event.periods[0].present?%>
            <td><span>Over</span><%=event.periods[0].tootal_point.to_s %> <br/><span>Under</span><%= event.periods[0].tootal_point.to_s %></td>
          <%else%>
            <td>0</td>
          <%end%>
            <% i = i+1 %>
          </tr>
          <%end%>
        <%end%>
    <% end %>
  </tbody>
</table>
<%= will_paginate @events %>
<br>

<%= link_to 'New Event', new_event_path %>
<style>
  th {
    text-align: center!important;
  }
  td {
    text-align: center!important;
  }
  .datetime{
    display: none;
  }
  /*
  #canvas-days{
    display: none;
  }
  #canvas-hours{
    display: none;
  }
  #canvas-minutes{
    display: none;
  }
  #canvas-seconds{
    display: none;
  }*/
</style>