<%= form_for @previews_rule, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :rule_for, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:rule_for, @rules_for) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :split, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:split, @split_list) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :column, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:column, @column) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :value1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :value1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :operator1, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:operator1, @operators) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :operator2, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:operator2, @operators) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :value2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :value2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :statement, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :statement, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                previews_rules_path, :class => 'btn' %>
  </div>
<% end %>
